asgiref==3.7.2
Django==5.0.1
gunicorn==21.2.0
packaging==23.2
sqlparse==0.4.4
typing_extensions==4.9.0
whitenoise==5.3.0
crispy-bootstrap5==2023.10
django-crispy-forms==2.1
pytz==2022.1
psycopg2-binary==2.9.9
plotly==5.18.0
plotly-express==0.4.1
locust==2.24.1