<mat-tab-group>
    <mat-tab label="First"> 
        QUI PENSAVO DI METTERE LA SCHERMATA PRINCIPALE CON I TEST LE STATISTICHE ECC 
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>NOME UTENTE</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
                <img mat-card-lg-image src="" >
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              Ciao 'NOME UTENTE'
            </mat-card-content>
          </mat-card>
          <h3>Raised Buttons</h3>
        <div class="example-button-row">
        
        <button mat-raised-button color="primary">Crea TEST</button>
        <button mat-raised-button color="accent">ELIMINA TEST</button>
      
        </div>

    </mat-tab>
    <mat-tab label="Second"> QUI ALTRE INFO TIPO LE INFO SUGLI UTENTI, LA MAIL ECC BOH POI VEDREMO </mat-tab>
  </mat-tab-group>
  