<form hx-trigger = " click from:#crea " hx-post = "{% url 'creaTestCollettivoDisplay' %}">
    {% csrf_token %}

    <div class="row">
        <div class="col">
            {{form.Domanda}}
        </div>
        <div class="col">
            {{form.Risposta}}
        </div>
        <div class="col">
            {{form.Varianti}}
        </div>
        <div class="col">
            {{form.tipo}}
        </div>
        <div class="col align-self-center">
            <button class="btn btn-danger float-end " onclick="delete_row(this)" >delete</button>
        </div>
    </div>
</form>
<p></p>

<script>
    function delete_row(e) {
    e.parentElement.parentElement.remove();
}
</script>
