<!doctype html>
<html lang="en">

<body>
  {% extends 'base.html' %}
  {% block title %}Creazione test{% endblock %}
  {% load crispy_forms_tags %}

  {% block content %}
      <!-- Bootstrap core CSS & JS & HTMX-->
      <link rel="stylesheet" type="text/css"
      href="//cdn.jsdelivr.net/npm/datetimepicker@latest/dist/DateTimePicker.min.css" />
      <script type="text/javascript" src="//cdn.jsdelivr.net/npm/datetimepicker@latest/dist/DateTimePicker.min.js"></script>

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
      <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
      <link rel="stylesheet" type="text/css"
      href="//cdn.jsdelivr.net/npm/datetimepicker@latest/dist/DateTimePicker.min.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/datetimepicker@latest/dist/DateTimePicker.min.js"></script>




  
  <main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-secondary m-4">
      <div class="px-0" id="target">
        <h1 class="fst-italic">CREAZIONE TEST COLLETTIVI</h1>

<form action="{% url 'creaTestCollettivo' pagine idTest %}" {{pagine}} {{idTest}} method="POST">

        {% csrf_token %}

        {% for n in domande %}
          
        <h6 class="border-bottom pb-2 mb-0">Pagina {{n}}</h6>
          <p></p>
                <div id="div{{n}}" class="m-2">
                  
              </div>
              <button class=" btn btn-success" type="submit"
                hx-get = "{% url 'creaTestCollettivoDisplay' idTest %}" 
                hx-target = '#div{{n}}'
                hx-swap = 'beforeend'>AGGIUNGI DOMANDA</button>
          <p></p>

        {% endfor %}
     
          <p></p>

        <button type="submit" class="btn btn-primary float-end" id="crea">Crea Test</button>

      </div>
    </div>
</form>

  

  </main>

  <script>
    $(document).ready(function () {
      $("#dtBox").DateTimePicker();
    });
  </script>

  {% endblock %}

  
      
    </body>
  </html>
  