<!doctype html>
<html lang="en">
  

{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<main>
  <div class="col-lg-8 mx-auto py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <div>

        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <svg class="bi d-block mx-auto mb-1" width="50" height="50"><use xlink:href="#people-circle"/></svg>
          <span class="fs-4 ms-2">Ciao  {{ request.user.username }}</span>
        </a>
      </div>
      
      

    </header>
  
    <main>
      <div class="mb-5">
        {% load static %}
        <a href="{% url 'test' %}" class="btn btn-primary btn-lg px-4">Crea Test</a>
        
              </div>
                <div class="row g-5">
                  <div class="col-md-6">
                    <div class="my-3 p-4 bg-body rounded shadow-lg text-center">
                      <h6 class="border-bottom pb-3 mb-0">TEST IN PROGRAMMA <a href="/cancella-test"> <button type="button" class="btn btn-danger btn-sm float-end">ELIMINA TUTTI I TEST</button> </a></h6>
                      <p></p>                                
                                  {% for idGruppi, nrTest, data in gruppi %}
                                          
                                        
                                       
                                        <div class="d-flex flex-wrap justify-content-lg-end shadow">
                                          
                                          <div
                                              class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-center">
                                              <span class="input-group-text text-center shadow-lg m-2" style="width: 55px;" id="basic-addon1"> {{nrTest}}</span>
                                             
                                              <strong class="m-4"> TEST CREATO IL {{data}}</strong>
                                        </div>

                                          <a href="{% url 'cancella_un_test' idGruppi %} " {{idGruppi}}>
                                            <div class="p-1">
                                              <button class="btn btn-danger float-end m-2">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                              </svg>
                                            </button>
                                          </div>
                                          </a>

                                          <a class="p-1" href="{% url 'preTest' idGruppi %} " {{idGruppi}}>
                                            <button class="btn btn-primary float-end m-2">
                                         
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                                                <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                                              </svg>
                                            </button>
                                          </a>

                                        
                                          
                                         
                                        </div>
                                
                                        
                                                                   
                                  {% endfor %}
                        
                  </div>
                          <div class="my-3 p-3 bg-body rounded shadow-lg">
                            <h6 class="border-bottom pb-2 mb-0 text-center">TEST COLLETTIVI IN PROGRAMMA</h6>
                                    <div class="d-flex text-muted pt-3">
                                    
                                      <p class="pb-3 mb-0 small lh-sm border-bottom">
                                        
                                      </p>
                                    
                                    </div>
                          </div>
                </div>
                <div class="col-md-6">
                  <div class="my-3 bg-body rounded shadow-lg">
                    <h6 class="border-bottom pb-2 mb-0 text-center p-3">STATISTICHE E RISULTATI</h6>
                    <p></p>
                    <table class="table table-striped table-sm text-center shadow m-1">
                      <thead>
                        <tr>
                          <th scope="col">N test</th>
                          <th scope="col">MIN</th>
                          <th scope="col">MAX</th>
                          <th scope="col">AVRG</th>
                          <th scope="col">UNDER 30</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>300</td>
                          <td>14,54</td>
                          <td>55,52</td>
                          <td>31</td>
                          <td>30%</td>
                        </tr>
                      </tbody>
                      </table>
                </div>


                  <div class="my-3 bg-body rounded shadow-lg">
                    <h6 class="border-bottom pb-2 mb-0 text-center p-3">Ultimi 100 test</h6>
                    <p></p>
                    <div>
                      <canvas id="myChart"></canvas>
                    </div>
                  </div>
              </div>
              
          </div>
          </h6>
      </div>
      
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var chart_tests = {{ chart_tests|safe }}
  var nrTestLabels = [];
  var tempiLabels = [];
  var sumSeconds = 0;
  
  for (var i = 0; i < chart_tests.length; i++) {
      var dateTimeStart = chart_tests[i].fields.dataOraInizio;
      var dateTimeEnd = chart_tests[i].fields.dataOraFine;
      
      // Convert date strings to Date objects
      var startDate = new Date(dateTimeStart);
      var endDate = new Date(dateTimeEnd);
      
      // Calculate the difference in milliseconds
      var difference = endDate.getTime() - startDate.getTime();
      
      // Convert milliseconds to seconds
      var seconds = difference / 1000;
      
      sumSeconds += seconds;
  
      tempiLabels.push(seconds);
      nrTestLabels.push((i + 1).toString());
  }
  
  var averageSeconds = sumSeconds / chart_tests.length;
  
  document.addEventListener('DOMContentLoaded', function() {
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: nrTestLabels,
              datasets: [{
                  label: 'Tempo di completamento',
                  data: tempiLabels,
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 1
              }, {
                  label: 'Media',
                  data: Array(nrTestLabels.length).fill(averageSeconds),
                  borderColor: 'rgba(255, 99, 132, 0.7)',
                  borderWidth: 2,
                  borderDash: [5, 5],
                  fill: false,
                  pointRadius: 0  // Hide points on the average line
              }]
          },
          options: {
              scales: {
                  x: {
                      title: {
                          display: true,
                          text: 'Test'
                      }
                  },
                  y: {
                      title: {
                          display: true,
                          text: 'Secondi'
                      }
                  }
              }
          }
      });

      
  });
  
</script>

{% endblock %}
    
</html>
