<!doctype html>
<html lang="en">
  

{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<main>
  <div class="col-lg-8 mx-auto py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <div>

          

         
      </div>
      
      <div class=" container">
        <svg class="bi d-block mx-auto mb-1 float-start" width="50" height="50"><use xlink:href="#people-circle"/></svg>
        <h5>
          <span class="fs-4 ms-2">Ciao  {{ user_utente }}</span>
          <span class="fs-4 ms-2 float-end">{{stelle}}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="float-end" viewBox="0 0 20 20">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            
          </svg>
          <div class="text-center">
            <span class="text-sm" style="margin-right: 60px;">Tempo di Riferimento: <span style="color: green;"> 50.00 <!-- {{tempo_ref}} --></span> </span>
            <span class="text-sm">La mia media: <span style="color: green;">{{media}}</span> </span>
          </div>

        </h5>


        
      </div>

    </header>
  
    <main>
      <div class="mb-5">
        {% load static %}
        <a href="{% url 'test' %}" class="btn btn-primary btn-lg px-4">Crea Test</a>
        {% if staff%}
        <a href="{% url 'creaDomande' %}" class="btn btn-primary btn-lg px-4 ">Crea Domanda</a>
        <a href="{% url 'testCollettivi' %}" class="btn btn-primary btn-lg px-4 float-end">Test Collettivi</a>
        {% endif %}
      </div>

                <div class="row g-4">

                  <!-- TEST STANDARD-->
                    <div class="my-3 p-3 bg-body rounded shadow-lg text-left">
                      <h5 class="border-bottom pb-3 mb-0">Test standard <a href="/cancella-test"> <button type="button" class="btn btn-danger btn-sm float-end">Elimina tutti i test</button> </a></h5>
                      <p></p>                                
                          {% for idGruppi, nrTest, data in gruppi_orario %}
                              <div class="d-flex flex-wrap justify-content-md-end shadow-md rounded-2 border-bottom">
                                  
                                  <div class="d-flex align-items-center my-lg-0 me-lg-auto text-center">
                                      <span class="input-group-text text-center m-2" id="basic-addon1"> {{nrTest}}</span>
                                      Test creato il <strong class="m-1">{{data}}</strong>
                                  </div> 


                                    <a href="{% url 'cancella_un_test' idGruppi %} " {{idGruppi}}>
                                      <div class="float-end">
                                        <button class="btn btn-danger float-end m-1">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                          </svg>
                                        </button>
                                      </div>
                                    </a>

                                    <a class="float-end" href="{% url 'CreazioneTestOrario' idGruppi zero %} " {{idGruppi}} {{zero}}>
                                      <button class="btn btn-primary float-end m-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 14 14">
                                          <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                                        </svg>
                                      </button>
                                    </a>
                                </div>
                          {% endfor %}
                      </div>
                    

                      <!-- TEST ORARIO PREDEFINITO -->
                      <div class="my-3 p-3 bg-body rounded shadow-lg text-left">
                        <h5 class="border-bottom pb-3 mb-0">Test a orario predefinito <a href="/cancella-test"> <button type="button" class="btn btn-danger btn-sm float-end">Elimina tutti i test</button> </a></h5>
                        <p></p>                                
                        {% for idGruppi, nrTest, data, idTest in gruppi_manuale %}
                            <div class="d-flex flex-wrap justify-content-md-end shadow-md rounded-2 border-bottom">
                              
                                <div class="d-flex align-items-center my-1 my-lg-0 me-lg-auto text-center">
                                    <span class="input-group-text text-center m-2" id="basic-addon1"> {{nrTest}}</span>
                                    Test creato il <strong class="m-1">{{data}}</strong>
                                </div>


                                  <a href="{% url 'cancella_un_test' idGruppi %} " {{idGruppi}}>
                                    <div class="float-end">
                                      <button class="btn btn-danger float-end m-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                      </button>
                                    </div>
                                  </a>

                                  <a class="float-end" href="{% url 'preTest' idGruppi idTest%} " {{idGruppi}}>
                                    <button class="btn btn-primary float-end m-1">
                                  
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 14 14">
                                        <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                                      </svg>
                                    </button>
                                  </a>
                              
                            </div>
                        {% endfor %}
                    </div>
                    
                    <!-- TEST PROGRAMMATI -->
                    <div class="my-3 p-3 bg-body rounded shadow-lg">
                      <h5 class="border-bottom pb-2 mb-0 text-left">Test Programmati</h5>
                      <p></p>                          
                      {% for idTest, data in gruppi_programmati %}
                        <div class="d-flex flex-wrap justify-content-lg-end shadow">
                          <div
                              class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-center">                                 
                              <strong class="m-4">{{data}}</strong>
                          </div>


                          <a class="p-1" href="{% url 'TestProgrammati' idTest %} " {{idTest}}>
                            <button class="btn btn-primary float-end m-2">
                          
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                                <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                              </svg>
                            </button>
                          </a>
                        </div>
                      {% endfor %}
                    </div>



                    <!-- SFIDE PROGRAMMATE -->
                    <div class="my-3 p-3 bg-body rounded shadow-lg">
                      <h5 class="border-bottom pb-2 mb-0 text-left">Sfide Programmate</h5>
                      <p></p>

                      {% for data, idGruppi, utente_sfidato, id in display_sfida_attesa_1 %}
                        <div class="d-flex flex-wrap justify-content-lg-end shadow-sm rounded-2">
                          
                          <div class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-center">
                              <!--<span class="input-group-text text-center shadow-sm m-2" style="width: 55px;" id="basic-addon1"> {{uno}}</span>-->
                              
                              <strong class="m-2">{{data}}  </strong>|  {{utente_sfidato}}
                            </div>
                          
                              <span class="m-2">In attesa di conferma</span>
                          
                        </div>
                      {% endfor %}
                      <p></p>

                      {% for data, idGruppi, utente_sfidante, idTestSfida in display_sfida_attesa_2 %}
                          <div class="d-flex flex-wrap justify-content-lg-end shadow-sm rounded-2 border-bottom">
                            
                            <div class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-center">
                                <!--<span class="input-group-text text-center shadow-sm m-2" style="width: 55px;" id="basic-addon1"> {{uno}}</span>-->
                                
                                <strong class="m-1">{{data}}  </strong>|  {{utente_sfidante}} 
                              </div>
                            
                                <a class="" href="{% url 'accettaSfida' idGruppi idTestSfida%}" {{idGruppi}} {{idTestSfida}} data-bs-toggle="tooltip" data-bs-placement="top" title="Accetta sfida">
                                  <button class="btn btn-success float-end m-2">
                                
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                                      <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372zm-2.54 1.183L5.93 9.363 1.591 6.602z"/>
                                      <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"/>
                                      </svg>
                                  </button>
                                </a>
                                <a class="" href="{% url 'rifiutaSfida' idGruppi idTestSfida%}" {{idGruppi}} {{idTestSfida}} data-bs-toggle="tooltip" data-bs-placement="top" title="Rifiuta sfida">
                                  <button class="btn btn-danger float-end m-2">
                                
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                                      <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>                                      </svg>
                                  </button>
                                </a>
                          </div>
                      {% endfor %}
                      <p></p>

                      {% for data, idGruppi, utente_avversario, idTestSfida in display_sfida_accettate %}
                        <div class="d-flex flex-wrap justify-content-lg-end shadow-sm rounded-2">
                          
                          <div class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-center">
                              <strong class="m-1"> {{data}}  </strong>|  {{utente_avversario}} 
                          </div>
                          
                          <a class="" href="{% url 'preTestSfida' idGruppi idTestSfida%}" {{idGruppi}} {{idTestSfida}}>
                            <button class="btn btn-primary float-end m-2">
                        
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 14 14">
                                <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                              </svg>
                            </button>
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                    
                </div>



                <!-- GRAFICI -->
                <div class="bg-body rounded shadow-lg my-4">
                  <h6 class="border-bottom pb-2 mb-0 text-center p-3">Ultimi 100 test</h6>
                  <p></p>
                  <div>
                    <canvas id="lineChart"></canvas>
                  </div>
                </div>
    
    
                <div class="bg-body rounded shadow-lg">
                  <h6 class="border-bottom pb-2 mb-0 text-center p-3">Test completati per settimana (questa settimana: {{weekly_test_count}})</h6>
                  <p></p>
                  <div>
                    <canvas id="barChart"></canvas>
                  </div>
                </div>

          </div>


          
      </div>
      
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var chart_tests = {{ chart_tests|safe }};
  var nrTestLabels = [];
  var tempiLabels = [];
  var totalSumSeconds = 0;
  var partialSumSeconds = 0;
  var minSeconds = Infinity;
  var maxSeconds = -Infinity;
  var under30Count = 0;
  var lastTestsConsidered = 99;

  //### LINE CHART & TOTAL STATISTICS CALCULATIONS ###//
  for (var i = 0; i < chart_tests.length; i++) {
      var dateTimeStart = chart_tests[i].fields.dataOraInizio;
      var dateTimeEnd = chart_tests[i].fields.dataOraFine;
  
      var startDate = new Date(dateTimeStart);
      var endDate = new Date(dateTimeEnd);
  
      var difference = endDate.getTime() - startDate.getTime();
      var seconds = difference / 1000;
  
      totalSumSeconds += seconds;
  
      if (seconds < minSeconds) {
          minSeconds = seconds;
      }
      if (seconds > maxSeconds) {
          maxSeconds = seconds;
      }
  
      if (seconds < 30) under30Count++;
  
      // In the chart we only show last 100 test statistics
      if(i < lastTestsConsidered) {
        partialSumSeconds = totalSumSeconds
        tempiLabels.push(seconds);
        nrTestLabels.push((i + 1).toString());
      }
  }
  var totalAverageSeconds = totalSumSeconds / chart_tests.length;
  let partialAverageSeconds;
  if(chart_tests.length < lastTestsConsidered) {
    partialAverageSeconds = partialSumSeconds / chart_tests.length;
  } else {
    partialAverageSeconds = partialSumSeconds / lastTestsConsidered;
  }
   
  totalAverageSeconds = {{media | safe}};
  // Update table in the DOM with general statistics
  document.addEventListener('DOMContentLoaded', function () {
    var statsRow = document.getElementById('statsRow');
    statsRow.innerHTML = `
        <td>${chart_tests.length}</td>
        <td>${minSeconds.toFixed(2)}</td>
        <td>${maxSeconds.toFixed(2)}</td>
        <td>${under30Count}</td>
    `;
  });

  partialAverageSeconds = {{ media | safe}};
  // Update lineChart & barChart DOM content
  document.addEventListener('DOMContentLoaded', function() {
    //### LINE CHART ###//
      var ctx = document.getElementById('lineChart').getContext('2d');
      var lineChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: nrTestLabels,
              datasets: [{
                  label: 'Tempo di completamento',
                  data: tempiLabels,
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 1
              }, {
                  label: 'Media',
                  data: Array(nrTestLabels.length).fill(partialAverageSeconds),
                  borderColor: 'rgba(255, 99, 132, 0.7)',
                  borderWidth: 2,
                  borderDash: [5, 5],
                  fill: false,
                  pointRadius: 0
              }]
          },
          options: {
              scales: {
                  x: {
                      title: {
                          display: true,
                          text: 'Test'
                      }
                  },
                  y: {
                      title: {
                          display: true,
                          text: 'Secondi'
                      }
                  },
              },
              plugins: {
                legend: {
                  display: false
                }
              }
          }
      });

      
    //### BAR CHART ###//
    var testsByWeek = {};
    chart_tests.forEach(function(test) {
      var date = new Date(test.fields.dataOraInizio);
      var week = getWeek(date);
      testsByWeek[week] = testsByWeek[week] ? testsByWeek[week] + 1 : 1;
    });
  
    var weekLabels = Object.keys(testsByWeek).map(function(week) {
      var startDate = getStartDateOfWeek(week);
      var endDate = getEndDateOfWeek(week);
      var startDateFormat = formatDateToDayMonth(startDate);
      var endDateFormat = formatDateToDayMonth(endDate);
      return `${startDateFormat}_${endDateFormat}`;
  });
  
    var testsData = Object.values(testsByWeek);
    var barColors = generateRandomColors(weekLabels.length);

    var ctx = document.getElementById('barChart').getContext('2d');
    var barChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: weekLabels,
        datasets: [{
          label: 'Test completati',
          data: testsData,
          backgroundColor: barColors,
          borderColor: 'rgba(1, 1, 1, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          x: {
            title: {
              display: true,
              text: 'Settimane'
            }
          },
          y: {
            title: {
              display: true,
              text: 'Test'
            },
            beginAtZero: true
          }
        }
      }
    });
  });

  function formatDateToDayMonth(date) {
    var d = new Date(date);
    var day = d.getDate();
    var month = d.getMonth() + 1; // Months are zero-indexed
    return `${day.toString().padStart(2, '0')}/${month.toString().padStart(2, '0')}`;
  }


  function getWeek(date) {
    var jan1 = new Date(date.getFullYear(), 0, 1);
    return Math.ceil((((date - jan1) / 86400000) + jan1.getDay() + 1) / 7);
  }
  
  function getStartDateOfWeek(week) {
    var jan1 = new Date(new Date().getFullYear(), 0, 1);
    var firstDayOfYear = jan1.getDay() || 7;
    return new Date(jan1.setDate(jan1.getDate() + (week - 1) * 7 - firstDayOfYear + 1));
  }
  
  function getEndDateOfWeek(week) {
    var startDate = getStartDateOfWeek(week);
    var endDate = new Date(startDate);
    endDate.setDate(endDate.getDate() + 6);
    return endDate;
  }
  
  function generateRandomColors(count) {
    var colors = [];
    for (var i = 0; i < count; i++) {
      var color = 'rgba(' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ',0.6)';
      colors.push(color);
    }
    return colors;
  }
  

  // ATTIVA I TOOLTIP 
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })

</script>

{% endblock %}
    
</html>
