<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Utente</th>
            <th scope="col">ID Test</th>
            <th scope="col">Data Inizio</th>
            <th scope="col">Data Fine</th>
            <th scope="col">Nr Pagine</th>
            <th scope="col">Nr Domande</th>
            <th scope="col">Nr Errori</th>
            <th scope="col">Penalty refresh</th>
            <th scope="col">Tempo Completamento</th>
        </tr>
    </thead>
    <tbody>
        {% for ut, id,fine,inizio, nrpag, nrdom, numerr, mal, tempo in arr_display %}
        <tr>
          <td>{{ ut }}</td>
          <td>{{ id }}</td>
          <td>{{ fine }}</td>
          <td>{{ inizio }}</td>
          <td>{{ nrpag }}</td>
          <td>{{ nrdom }}</td>
          <td>{{ numerr }}</td>
          <td>{{ mal }}</td>
          <td>{{ tempo }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>


  <!-- PAGINAZIONE -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" hx-get="{% url 'controllo' %}?page={{ page_obj.previous_page_number }}" hx-trigger="click">Precedente</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Precedente</span>
        </li>
        {% endif %}

        <!-- First page and leading ellipses -->
        {% if page_obj.number > 4 %}
        <li class="page-item">
            <a class="page-link" href="?page=1" hx-get="{% url 'controllo' %}?page=1" hx-trigger="click">1</a>
        </li>
        <li class="page-item disabled">
            <span class="page-link">...</span>
        </li>
        {% endif %}

        <!-- Page number links -->
        {% for page_num in page_obj.paginator.page_range %}
        {% if page_num >= page_obj.number|add:-2 and page_num <= page_obj.number|add:2 %}
        {% if page_obj.number == page_num %}
        <li class="page-item active">
            <span class="page-link">{{ page_num }}</span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}" hx-get="{% url 'controllo' %}?page={{ page_num }}" hx-trigger="click">{{ page_num }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}

        <!-- Last page and trailing ellipses -->
        {% if page_obj.paginator.num_pages > page_obj.number|add:2 %}
        <li class="page-item disabled">
            <span class="page-link">...</span>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" hx-get="{% url 'controllo' %}?page={{ page_obj.paginator.num_pages }}" hx-trigger="click">{{ page_obj.paginator.num_pages }}</a>
        </li>
        {% endif %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" hx-get="{% url 'controllo' %}?page={{ page_obj.next_page_number }}" hx-trigger="click">Successivo</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Successivo</span>
        </li>
        {% endif %}
    </ul>
</nav>

