<!DOCTYPE html>
<html lang="en">
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>

  <body>
    {% extends 'base.html' %}
    {% block title %}
      Statistiche Utenti
    {% endblock %}
    {% load crispy_forms_tags %}

    {% block content %}

      <!-- Bootstrap Icons -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


      <main class="container">
        <div class="p-4 p-md-5 mb-4 my-3 rounded bg-body rounded shadow-lg text-center">

          <div class="px-0 text-align-center" id="target">
            <h2 class="">Test effettuati questa settimana (questa settimana)</h2>

            <!-- TABELLA -->
            <div class="mt-4 d-flex justify-content-center">
              <div class="col-md-6">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Utente</th>
                      <th scope="col">Numero Test</th>
                      <th scope="col">Media</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for ut, num, mean in utenti_inf %}
                    <tr>
                      <td>{{ ut }}</td>
                      <td>{{ num }}</td>
                      <td>{{ mean }}</td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            <h2 class="m-2">Utenti con più Stelle </h2>

            <!-- TABELLA -->
            <div class="mt-4 d-flex justify-content-center">
              <div class="col-md-6">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Utente</th>
                      <th scope="col">Numero Test</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ut, num in utenti_stelle %}
                    <tr>
                      <td>{{ ut }}</td>
                      <td>{{ num }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            

            <h2 class="m-2 mt-4">Riepilogo Test </h2>

            <div class="mt-4 d-flex justify-content-center">
              <div class="col-md-10" hx-get="{% url 'controllo' %}" hx-trigger="click[closest .pagination a]" hx-target="this">
                {% include "utenti/tabellaRiepilogoTest.html" %}
              </div>
          </div>
          
          
          <!-- SCARICA CSV -->
            <a href="{% url 'csv_riepilogo_test' %}" class="btn btn-md btn-success">
              <i class="bi bi-file-earmark-text"></i>
              Scarica CSV
            </a>
          

          </div>
        </div>
      </main>
      
    {% endblock %}

  </body>
</html>
