<form action="/creaTestManuale" method="POST">
    {% csrf_token %}

    <div class="row g-5">
        <div class="col-md-6">
            <div class="my-3 p-3 bg-body rounded shadow-lg">
                <h6 class="border-bottom pb-2 mb-0">Creazione con ritardo
                    manuale</h6>
                <p></p>
                <h6 class="border-bottom pb-2 mb-0">Quanti test vuoi creare? </h6>
                <div class="input-group mb-3">
                    <span class="input-group-text " id="inputGroup-sizing-default"> Test </span>
                    {{ form.testNumber }}
                </div>

                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox"
                        role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">In sequenza</label>
                    <div class="form-check-label" for="flexSwitchCheckDefault">{{form.inSequenza}}</div>
                </div>
                <p></p>

                <h6 class="border-bottom pb-2 mb-0">Quanti secondi di ritardo
                    desideri?</h6>
                <div class="input-group mb-3">
                    <span class="input-group-text"
                        id="inputGroup-sizing-default">sec</span>
                    <input type="text" class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="d-grid gap-2">
                    <button href="{% url 'creaTestManuale' %}"
                        class="btn btn-primary"
                        type="button submit">Crea</button>
                </div>
            </div>
        </div>

</form>
