<!doctype html>
<html lang="en">

<body>
  {% extends 'base.html' %}
  {% block title %}Creazione test{% endblock %}
  {% load crispy_forms_tags %}

  {% block content %}
      <!-- HTMX -->
      <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
      
      <!-- DatePicker -->
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/datetimepicker@latest/dist/DateTimePicker.min.css" /> 
      <script type="text/javascript" src="//cdn.jsdelivr.net/npm/datetimepicker@latest/dist/DateTimePicker.min.js"></script>




  
  <main class="container">
    <div class="p-4 p-md-5 mb-4 my-3 rounded bg-body rounded shadow-lg">
      <div class="px-0" id="target">
        <h1>Creazione Test collettivi</h1>

<form action="{% url 'creaDomande' %}" method="POST">

        {% csrf_token %}
          
        <h6 class="border-bottom pb-2 mb-0">Domande </h6>
          <p></p>
                <div id="div" class="m-2">
                  
              </div>
              <button class=" btn btn-success" type="submit"
                hx-get = "{% url 'creaDomandeDisplay' %}" 
                hx-target = '#div'
                hx-swap = 'beforeend'>Aggiungi domanda</button>
          <p></p>

     
          <p></p>

        <button type="submit" class="btn btn-primary float-end" id="crea">Crea Domande</button>

      </div>
    </div>
</form>

  
    <h6>Esempi di input</h6>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Domanda tipo checkbox (c)
              </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
              <div class="accordion-body">
                  {% load static %}
                  <img src="{% static 'webapp/esempio_c.png' %}" class="center-block m-2" alt="mouseX" style="width: 100%; margin-left: 5rem;">
              </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Domanda tipo testo (t)
              </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
              <div class="accordion-body">
                  {% load static %}
                  <img src="{% static 'webapp/esempio_t.png' %}" class="center-block m-2" alt="mouseX" style="width: 100%; margin-left: 5rem;">
              </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Domanda tipo select (s)
              </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
              <div class="accordion-body">
                  {% load static %}
                  <img src="{% static 'webapp/esempio_s.png' %}" class="center-block m-2" alt="mouseX" style="width: 100%; margin-left: 5rem;">
              </div>
          </div>
      </div>
  </div>
  
  
  </main>

  <script>
    $(document).ready(function () {
      $("#dtBox").DateTimePicker();
    });
  </script>

  {% endblock %}

  
      
    </body>
  </html>
  