<!DOCTYPE html>

    <!-- Bootstrap core CSS & JS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<html lang="IT"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">
    <title>Inail</title>

    
    {% block content %}

</head>

<body>

<header class="m-0">

        
      {% load static %}
      <img src="{% static 'webapp/logo.svg' %}" class = "center-block m-2"alt="INAIL" style="height: 100px; width: 100%;">

   
    <div class="row no-gutters">
        <div class="col-12 topbars">
            <div class="first" style="height: 20px; width: 100%; background: #022d5e;">&nbsp;</div>
            <div class="second" style="height: 20px; width: 100%; background: #1e6567">&nbsp;</div>
        </div>
    </div>
</header>
<main class="container">

  <div class="p-3">
    <div class="container-fluid ">
      <h3 class="">Bando ISI 2024 - Convalida Domanda</h3>
    
    </div>
  </div>
      <div class=" container-fluid mb-4 p-5" style="background: #dfdfdf;">
        <h6>L'invio della domanda è stato effettuato correttamente</h6>
        <h6>TEMPO : {{tempo}}</h6>
        {% if malus %}
        <h5>
            HAI RICEVUTO IL PENALTY REFRESH PER AVER RICARICATO LA PAGINA (SONO STATI AGGIUNTI 5 SECONDI AL TUO TEMPO FINALE)
        </h5>
        {% endif %}
        <a href= "{% url 'CreazioneTestOrario' idGruppi counter%}"  {{idGruppi}} {{counter}}><button class="btn btn-primary float-end" type="button" style=" width: 100px; background-color: #022d5e;">Inizia</button></a>

  </div>

  
  
</main>

<footer class="footer" id="sticky-footer">
    <div class="it-footer-main" style="background: #022d5e; color: #fff;">
        <div class="container">
            <section>
                <div class="row clearfix text-center">
                    <div class="col-sm-12 align-items-center m-3">
                        © 2024 INAIL - ISTITUTO NAZIONALE PER L'ASSICURAZIONE CONTRO GLI INFORTUNI SUL LAVORO - P. IVA 00968951004
                    </div>
                </div>
            </section>
        </div>
    </div>
</footer>
{% endblock %}



</body></html>