<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Bootstrap core CSS & JS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header class="m-0">

        
    {% load static %}
    <img src="{% static 'webapp/logo.svg' %}" class = "center-block m-2"alt="INAIL" style="height: 100px; width: 100%;">

 
  <div class="row no-gutters">
      <div class="col-12 topbars">
          <div class="first" style="height: 20px; width: 100%; background: #022d5e;">&nbsp;</div>
          <div class="second" style="height: 20px; width: 100%; background: #1e6567">&nbsp;</div>
      </div>
  </div>
</header>
<p></p>
<body>

<div class=" container-xl mb-5 p-5" style="background: #dfdfdf;">
    <h4>INSERIMENTO DATI</h4>
      
        {% for domanda, variante in ctx %}
        <p>{{domanda}}{{variante}}</p>
        <div class="input-group mb-4">
            <select class="form-select" id="inputGroupSelect01">
              <option selected>{{variante}}</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          
        
        

        {% endfor %}
          
        <button class="btn btn-primary float-end" type="button" style="background-color: #022d5e;" onclick="location.reload()">RICARICA</button>
  
        {% if ultimo %}
        <a href= "{% url 'FinishTestOrario' idGruppi idTest counter %}"  {{idGruppi}} {{idTest}} {{counter}}><button class="btn text-light" type="button" style="background-color: #069901;">AVANTI</button></a>

        {% else %}
        <a href= "{% url 'testStartOrario' idGruppi idTest counter displayer %}"  {{idGruppi}} {{idTest}} {{counter}} {{displayer}}><button class="btn text-light" type="button" style="background-color: #069901;">PROSEGUI</button></a>

        {% endif%}

  

</div>
<footer class="footer" id="sticky-footer">
    <div class="it-footer-main" style="background: #022d5e; color: #fff;">
        <div class="container">
            <section>
                <div class="row clearfix text-center">
                    <div class="col-sm-12 align-items-center m-3">
                        © 2024 INAIL - ISTITUTO NAZIONALE PER L'ASSICURAZIONE CONTRO GLI INFORTUNI SUL LAVORO - P. IVA 00968951004
                    </div>
                </div>
            </section>
        </div>
    </div>
</footer>

</body>

</html>